<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create">
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.name}">
                            <label class="control-label">Nombre de la Empresa</label>
                            <el-input v-model="form.name" dusk="name"></el-input>
                            <small class="form-control-feedback" v-if="errors.name" v-text="errors.name[0]"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': (errors.subdomain || errors.uuid)}">
                            <label class="control-label">Nombre de Subdominio</label>
                            <el-input v-model="form.subdomain" dusk="subdomain">
                                <template slot="append">{{ url_base }}</template>
                            </el-input>
                            <small class="form-control-feedback" v-if="errors.subdomain" v-text="errors.subdomain[0]"></small>
                            <small class="form-control-feedback" v-if="errors.uuid" v-text="errors.uuid[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.email}">
                            <label class="control-label">Correo de Acceso</label>
                            <el-input v-model="form.email" dusk="email"></el-input>
                            <small class="form-control-feedback" v-if="errors.email" v-text="errors.email[0]"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.plan_id}">
                            <label class="control-label">Plan</label>
                            <el-select v-model="form.plan_id" dusk="plan_id">
                                <el-option v-for="option in plans" :key="option.id" :value="option.id" :label="option.name"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.plan_id" v-text="errors.plan_id[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-12 center-el-checkbox mt-4">
                        <div class="form-group">
                            <el-checkbox
                                v-model="form.create_restaurant">
                               ¿ Crear cuenta de Usuario de Restaurante ?
                            </el-checkbox>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div :class="{'has-danger': errors.users}"
                             class="form-group">
                            <label class="control-label">Usuario Secundario</label>
                            <el-input
                                v-model="form.users"
                                 dusk="name">
                            </el-input>
                            <small
                                v-if="errors.users"
                                class="text-danger"
                                v-text="errors.users[0]">
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div :class="{'has-danger': errors.password}"
                             class="form-group">
                            <label class="control-label">Clave Sol</label>
                            <el-input
                                v-model="form.password"
                                 dusk="name">
                            </el-input>
                            <small
                                v-if="errors.password"
                                class="text-danger"
                                v-text="errors.password[0]">
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div :class="{'has-danger': errors.password_cdt}"
                             class="form-group">
                            <label class="control-label">Password CDT</label>
                            <el-input
                                v-model="form.password_cdt"
                                 dusk="name">
                            </el-input>
                            <small
                                v-if="errors.password_cdt"
                                class="text-danger"
                                v-text="errors.password_cdt[0]">
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions text-end pt-2">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit" dusk="submit">
                    <template v-if="loading_submit">
                        Actualizando datos...
                    </template>
                    <template v-else>
                        Guardar
                    </template>
                </el-button>
            </div>
        </form>
    </el-dialog>
</template>


<script>

    import {serviceNumber} from '../../../mixins/functions'

    export default {
        mixins: [serviceNumber],
        props: ['showDialog', 'recordId'],
        data() {
            return {
                loading_submit: false,
                loading_search: false,
                titleDialog: null,
                resource: 'clients',
                error: {},
                form: {},
                url_base: null,
                plans:[],
                types:[],
            }
        },
        created() {
            this.initForm()
            this.$http.get(`/${this.resource}/tables`)
                .then(response => {
                    this.url_base = response.data.url_base
                    this.plans = response.data.plans
                    this.types = response.data.types

                    this.initRecord()
                })
        },
        methods: {
            initRecord()
            {

                this.$http.get(`/${this.resource}/record/${this.recordId}` )
                    .then(response => {

                        let dato = response.data.data
                        this.form.id = dato.id
                        this.form.name = dato.name
                        this.form.email = dato.email
                        this.form.plan_id = dato.plan_id
                        this.form.hostname = dato.hostname

                    })
            },
            initForm() {
                this.errors = {}
                this.form = {
                    id: null,
                    name: null,
                    email: null,
                    identity_document_type_id: '6',
                    number: '',
                    password:null,
                    plan_id:null,
                    locked_emission:false,
                    type:null,
                    create_restaurant:false,
                    users:null,
                    password:null,
                    password_cdt:null
                }
            },
            create() {
                this.titleDialog = (this.recordId)? 'Editar Cliente':'Nuevo Cliente'
                if (this.recordId) {
                    this.$http.get(`/${this.resource}/record/${this.recordId}`)
                }
            },
            submit() {
                this.loading_submit = true
                this.$http.post(`${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                            this.$eventHub.$emit('reloadData')
                            this.close()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data
                        }else if(error.response.status === 500){
                            this.$message.error(error.response.data.message);
                        }
                         else {
                            console.log(error.response)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            },
            searchSunat() {
                this.searchServiceNumber()
            }
        }
    }
</script>
